
/*__Base*/

@font-face{
    font-family: "Shrikhand";
    src: url(../polices/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face{
    font-family: "Roboto-Thin";
    src: url(../polices/Roboto/Roboto-Thin.ttf);
}
@font-face{
    font-family: "Roboto-Bold";
    src: url("../polices/Roboto/Roboto-Bold.ttf");
}
@font-face{
    font-family: "Roboto";
    src: url("../polices/Roboto/Roboto-Regular.ttf");
}

*{
    font-family: 'Roboto-Thin', 'Arial', 'Helvetica', 'sans-serif';
}

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$bg-color: #F6F6F6;
$linear-gradient: linear-gradient(to bottom right, $secondary-color, $primary-color);
$linear-gradient-transition: linear-gradient(to top left, $secondary-color, rgba(228, 94, 217, 0.938));
$linear-gradient-transition-dark: linear-gradient(to top left, $secondary-color, #462741);


body{
    margin: 0;

}

h4, h5, h6{
    font-family: 'Roboto';
}
h2, h3{
    font-size: 1.5em;
    font-family: 'Roboto-Bold';
}
a{
    text-decoration: none;
    color: black
}

/*PICTURES*/
.pic1{
    background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.pic2{
    background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.pic3{
    background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.pic4{
    background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

/*Components*/
.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

        &__accueil{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            background-color: $bg-color;
            p{
                font-weight: bold;
            }
        }
        &__explore{
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__restaurants{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            margin-bottom: 30px;

                @media all and (min-width: 1024px){
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-around;
                    padding: 0 40px 0 40px;
                } 
        }
        &__menu{
          background: $bg-color;
          width: 100%;
          border-top-left-radius: 60px;
          border-top-right-radius: 60px;
          padding-bottom: 30px;
          margin-top: -100px;
          animation: slide-top-menu 1s ease-in-out 0.5s both;  
          
        }
        &__btn-command{
          margin-top: 30px;
          display: flex;
          flex-direction: row;
          justify-content: center;
            
            button{
              width: 200px;
              border: none;
              outline: none;
              font-size: 1.1em;
              
            }
        }   

}


.box{
    background-color: $bg-color;
    border: hidden;
    border-radius: 12px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.2);
    width: 85%;
    margin: 10px 0 10px 0;
    
    
    &__position{
        background-color: #e7e5e5;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
    &__explications{
        display: flex;
        align-items: center;
            &:hover{
                background-color: rgba($primary-color, $alpha: .2);
                box-shadow: 0 0 9px 0 rgba(0,0,0,.4);
            }
        :only-child{
            margin: 10px 5px 10px 5px;
            padding: 10px;
        }
        .chiffre{
            background-color: $primary-color;
            border: hidden;
            border-radius: 18px;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: -10px;
            color: white;
        }
       h4{
           font-size: 1em;
       }
    }
    &__restaurants{
        background-color: white;
    
            @media all and (min-width:1024px){

                    width: 40%;
                
            }
            .box__picture{
              position: relative;
                overflow: hidden;
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 150px;
                border-radius: 12px 12px 0px 0;
            }
            .box__promotion{
                z-index: 0;
                width: 70px;
                position: absolute;
                right: 10px;
                @media all and (max-width: 767px) {
                    right: 50px;
                }
                
                
                
                    p{
                        color: #458874;
                        font-family: 'Roboto';
                        font-weight: bold;
                        text-align: center;
                        background-color: rgba($color: $tertiary-color, $alpha: 1.5);
                        
                    }
            }

    }
    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px 0 30px;
        line-height: 50%;
        h4, p{
            text-align: left;
            font-size: 1.4em;
        }
        p{
            font-family: Roboto;
            font-size: 1.2em;    
                
        }  
    }

    &__option{
      width: 90%;
      padding: 0 0px 0 10px;
      line-height: 85%;
      background-color: white;
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      animation: slide-top 1s ease-in-out 0.5s both;
      
      .meal{
        flex-grow: 2;
        
      }     
              h4{
                font-size: 1em;
              }

              strong{
                font-family: 'Roboto';
                margin-right: 15px;
              }  
              
              .animation-choice{
                display: none;

              }

              & :hover ~ .animation-choice {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $tertiary-color;
                width: 50px;
                border-top-right-radius: 12px;
                border-bottom-right-radius: 12px;
                box-shadow: $tertiary-color 0 0 0 1px;
                font-size: 1.7em;
                color: white;
                animation: scale-up-hor-right 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

                  .fa-check-circle{
                    animation: rotate-in-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    pointer-events: none;
                  }
              }    

              & :hover ~ .slide-left {
                animation: slide-left 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      }
              .price{
                padding-top: 20px;
              }
    }
}


.underline{
  width: 50px;
  height: 2px;
  background-color: $tertiary-color;
  position: relative;
  top: -15px;
}
.btn{
    color: white;
    border: hidden;
    border-radius: 25px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.5);
    background: $linear-gradient;
    transition: background-color 1s ease-in-out;
    padding: 20px 25px 20px 25px;
    margin-top: 10px;
    font-family: 'Roboto';

        &:hover{
            box-shadow: 0 0 9px 0 rgba(0,0,0,.7);
            
        }
        &:active{

            background: $linear-gradient-transition;
            box-shadow: 0 0 11px 0 rgba(0,0,0,.7);          
        }     
    }



.position{
    display: flex;
    flex-direction: row;
    align-items: center;
    p{
        margin-left: 20px;
        font-family: 'Roboto-Bold';
    }
}
.title{
    display: flex;
    align-self: start;
    margin-left: 100px;
 }
 @media all and (max-width: 767px){
     .title{
         margin-left: 50px;
     }
 }


 .menu-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 40px ;

      &__restaurant_name{
        margin-right: 60px;
        font-size: 1.1em;

            h2{
              font-family: 'Shrikhand';
         }
      }
      
      i{
        font-size: 1.5em;
      }       
}


 /*Balises Sémantiques*/
 header{
    display: flex;
    justify-content: center;
    border-bottom: solid rgba($color: #dad8d8, $alpha: 1.5);
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;

        &:hover{
            border-bottom: solid $primary-color;
        }
       &.page{
         display: flex;
         align-items: center;
          
         
          .arrow{
              font-size: 1.5em;
              margin: 0 10px 0 10px;
          }
            .logo{
                display: flex;
                justify-content: center;
                flex-grow: 2;
                margin-right: 35px;
                
          }
       } 
       
}
header img{
    width: 250px;
    margin: 10px;
}
footer{
    background-color: #353535;
    padding: 10px 20px 20px 40px;
    z-index: 0;
    h3{
        font-family: Shrikhand;
        color: white;
        font-size: 1.5em;
    }
    i, p{
        color: white;
        margin: 5px;
    }
    strong{
        font-family: Roboto;
    }
    div :only-child{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    @media all and (min-width:767px) {
        nav :only-child{
            display: flex;
            justify-content: center;
        }
    }
}
/*Styles des pages annexes*/
.bg-restaurant{
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 100%;
  height: 500px;
    
}


/*Animation & Transitions*/

/*Loading spinner animation*/

.lds-roller {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 80px;
  height: 80px;
  padding-right: 80px;
  z-index: -5;
  
}
.lds-roller div {
  animation: lds-roller .9s ease-in-out 2 forwards;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
  background: $primary-color;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
  background: $secondary-color;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
  background: $tertiary-color;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
  background: $primary-color;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
  background: $secondary-color;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
  background: $tertiary-color;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
  background: $primary-color;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
  background: $secondary-color;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    z-index: 100;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    z-index: -5;
  }
}
/*Background animation*/
.color-change {
  width: 100%;
  height: 100%;
  top: 0;
	animation: color-change 1s ease-in-out 1 forwards;
}
@keyframes color-change {
  0% {
    background:white;
    opacity: 1;
    z-index: 101;
  }
  30%{
    background-color: white;
    opacity: .9;
  }
  65%{
    background-color: white;
    opacity: .9;
  }
  100% {
    background: white;
    opacity: 0;
    z-index: -5;
  }
}
/*Animation "OH MY FOOD"*/
 .anim{
     display: flex;
     justify-content: center;
     align-items: center;
     position: fixed;
     top: 0;
     z-index: -1;
     width: 100%;
     height: 100%;
     visibility: hidden;
     opacity: .5;
        h1{
            font-family: 'Shrikhand';
            text-shadow: 4px 4px 0px $tertiary-color;
            text-align: center;
            @media all and (min-width: 1024px) {
                font-size: 5em;
            }
            @media all and (max-width: 1024px) {
                font-size: 2.5em;
            }
        }
 }

 .text-animation {
	animation: text-animation 1.5s cubic-bezier(0.645, 0.045, 0.355, 1.000) 1.5s alternate forwards;
}

@keyframes text-animation {
    0% {
        letter-spacing: 1em;
        transform: translateZ(300px);
        transform: translateZ(300px);
        opacity: 1;
        z-index: 5;
        position: fixed;
        visibility: visible;
    }
    40% {
        opacity: 0.9;
    }
    80% {
        opacity: 0.7;
        z-index: 5;
    }
    90% {
        opacity: 0.5;
        z-index: 5;
    }
    100% {
        transform: translateZ(0);
        transform: translateZ(0);
        opacity: 0;
        z-index: -1;
        position: fixed;
    }
  }
  
  
  
  /*Animation Promotion*/

  .promotion-animation {
	        animation: promotion-animation 10s ease-in-out infinite both;
}

@keyframes promotion-animation {
    0% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    13.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    14% {
      opacity: 0;
      text-shadow: none;
    }
    14.9% {
      opacity: 0;
      text-shadow: none;
    }
    15% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    22.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    23% {
      opacity: 0;
      text-shadow: none;
    }
    24.9% {
      opacity: 0;
      text-shadow: none;
    }
    25% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    34.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    35% {
      opacity: 0;
      text-shadow: none;
    }
    
    40% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    42.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    43% {
      opacity: 0;
      text-shadow: none;
    }
    44.9% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    54.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 0;
      text-shadow: none;
    }
    
    69.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    69.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    70% {
      opacity: 0;
      text-shadow: none;
    }
    79.4% {
      opacity: 0;
      text-shadow: none;
    }
    79.9% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    
    89.8% {
      opacity: 0;
      text-shadow: none;
    }
    89.9% {
      opacity: 1;
      text-shadow: none;
    }
   
    100% {
      opacity: 0;
    }
  }

  /*Transition logo heart*/
/*Transition logo heart*/
.heart {
  position: relative;
  cursor: pointer;
  left: -30px;
}

.heart:hover i:last-child {
  opacity: 0;
}

.heart i:first-child {
  font-size: 1.5em;
  background: -webkit-gradient(linear, right bottom, left top, from($primary-color), to($secondary-color));
  background: linear-gradient(to top left, $primary-color, $secondary-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
}

.heart i:last-child {
  font-size: 1.5em;
  position: absolute;
  color: white;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}


@keyframes text-blur-out {
  0% {
            filter: blur(0.1px);
  }
  100% {
            filter: blur(12px) opacity(0%);
  }
}


/*Animation add to checked*/
@keyframes rotate-in-center {
  0% {
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
            transform: rotate(0);
    opacity: 1;
  }
}

@keyframes scale-up-hor-right {
  0% {
            transform: scaleX(0.4);
            transform-origin: 100% 100%;
  }
  100% {
            transform: scaleX(1);
            transform-origin: 100% 100%;
  }
}

@keyframes slide-top {
  0% {
      transform: translateY(100px);
      opacity: 0;
  }
  10%{
    opacity: .2;
  }
  30%{
    opacity: .2;
  }

  65% {
    opacity: .6;
}
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-top-menu {
  0% {
      transform: translateY(45px);

  }
  100% {
    transform: translateY(0);

  }
}


@keyframes slide-left {
  0% {
            transform: translateX(0);
  }
  100% {
            transform: translateX(-20px);
  }
}

