@charset "UTF-8";
/*__Base*/
@font-face {
  font-family: "Shrikhand";
  src: url(../polices/Shrikhand/Shrikhand-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Thin";
  src: url(../polices/Roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../polices/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../polices/Roboto/Roboto-Regular.ttf");
}

* {
  font-family: 'Roboto-Thin', 'Arial', 'Helvetica', 'sans-serif';
}

body {
  margin: 0;
}

h4, h5, h6 {
  font-family: 'Roboto';
}

h2, h3 {
  font-size: 1.5em;
  font-family: 'Roboto-Bold';
}

a {
  text-decoration: none;
  color: black;
}

/*PICTURES*/
.pic1 {
  background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.pic2 {
  background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

.pic3 {
  background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.pic4 {
  background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

/*Components*/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__accueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: #F6F6F6;
}

.container__accueil p {
  font-weight: bold;
}

.container__explore {
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}

@media all and (min-width: 1024px) {
  .container__restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 40px 0 40px;
  }
}

.container__menu {
  background: #F6F6F6;
  width: 100%;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  padding-bottom: 30px;
  margin-top: -100px;
  -webkit-animation: slide-top-menu 1s ease-in-out 0.5s both;
          animation: slide-top-menu 1s ease-in-out 0.5s both;
}

.container__btn-command {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__btn-command button {
  width: 200px;
  border: none;
  outline: none;
  font-size: 1.1em;
}

.box {
  background-color: #F6F6F6;
  border: hidden;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  width: 85%;
  margin: 10px 0 10px 0;
}

.box__position {
  background-color: #e7e5e5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.box__explications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box__explications:hover {
  background-color: rgba(147, 86, 220, 0.2);
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.4);
}

.box__explications :only-child {
  margin: 10px 5px 10px 5px;
  padding: 10px;
}

.box__explications .chiffre {
  background-color: #9356DC;
  border: hidden;
  border-radius: 18px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: -10px;
  color: white;
}

.box__explications h4 {
  font-size: 1em;
}

.box__restaurants {
  background-color: white;
}

@media all and (min-width: 1024px) {
  .box__restaurants {
    width: 40%;
  }
}

.box__restaurants .box__picture {
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 150px;
  border-radius: 12px 12px 0px 0;
}

.box__restaurants .box__promotion {
  z-index: 0;
  width: 70px;
  position: absolute;
  right: 10px;
}

@media all and (max-width: 767px) {
  .box__restaurants .box__promotion {
    right: 50px;
  }
}

.box__restaurants .box__promotion p {
  color: #458874;
  font-family: 'Roboto';
  font-weight: bold;
  text-align: center;
  background-color: #99e2d0;
}

.box__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px 0 30px;
  line-height: 50%;
}

.box__content h4, .box__content p {
  text-align: left;
  font-size: 1.4em;
}

.box__content p {
  font-family: Roboto;
  font-size: 1.2em;
}

.box__option {
  width: 90%;
  padding: 0 0px 0 10px;
  line-height: 85%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: slide-top 1s ease-in-out 0.5s both;
          animation: slide-top 1s ease-in-out 0.5s both;
}

.box__option .meal {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.box__option h4 {
  font-size: 1em;
}

.box__option strong {
  font-family: 'Roboto';
  margin-right: 15px;
}

.box__option .animation-choice {
  display: none;
}

.box__option :hover ~ .animation-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99E2D0;
  width: 50px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  -webkit-box-shadow: #99E2D0 0 0 0 1px;
          box-shadow: #99E2D0 0 0 0 1px;
  font-size: 1.7em;
  color: white;
  -webkit-animation: scale-up-hor-right 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: scale-up-hor-right 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.box__option :hover ~ .animation-choice .fa-check-circle {
  -webkit-animation: rotate-in-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: rotate-in-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  pointer-events: none;
}

.box__option :hover ~ .slide-left {
  -webkit-animation: slide-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.box__option .price {
  padding-top: 20px;
}

.underline {
  width: 50px;
  height: 2px;
  background-color: #99E2D0;
  position: relative;
  top: -15px;
}

.btn {
  color: white;
  border: hidden;
  border-radius: 25px;
  -webkit-box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-transition: background-color 1s ease-in-out;
  transition: background-color 1s ease-in-out;
  padding: 20px 25px 20px 25px;
  margin-top: 10px;
  font-family: 'Roboto';
}

.btn:hover {
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.7);
}

.btn:active {
  background: -webkit-gradient(linear, right bottom, left top, from(#FF79DA), to(rgba(228, 94, 217, 0.938)));
  background: linear-gradient(to top left, #FF79DA, rgba(228, 94, 217, 0.938));
  -webkit-box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.7);
}

.position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.position p {
  margin-left: 20px;
  font-family: 'Roboto-Bold';
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: start;
  margin-left: 100px;
}

@media all and (max-width: 767px) {
  .title {
    margin-left: 50px;
  }
}

.menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px 0 40px;
}

.menu-title__restaurant_name {
  margin-right: 60px;
  font-size: 1.1em;
}

.menu-title__restaurant_name h2 {
  font-family: 'Shrikhand';
}

.menu-title i {
  font-size: 1.5em;
}

/*Balises Sémantiques*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: solid #dad8d8;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1;
}

header:hover {
  border-bottom: solid #9356DC;
}

header.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.page .arrow {
  font-size: 1.5em;
  margin: 0 10px 0 10px;
}

header.page .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin-right: 35px;
}

header img {
  width: 250px;
  margin: 10px;
}

footer {
  background-color: #353535;
  padding: 10px 20px 20px 40px;
  z-index: 0;
}

footer h3 {
  font-family: Shrikhand;
  color: white;
  font-size: 1.5em;
}

footer i, footer p {
  color: white;
  margin: 5px;
}

footer strong {
  font-family: Roboto;
}

footer div :only-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (min-width: 767px) {
  footer nav :only-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*Styles des pages annexes*/
.bg-restaurant {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 100%;
  height: 500px;
}

/*Animation & Transitions*/
/*Loading spinner animation*/
.lds-roller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 80px;
  height: 80px;
  padding-right: 80px;
  z-index: -5;
}

.lds-roller div {
  -webkit-animation: lds-roller .9s ease-in-out 2 forwards;
          animation: lds-roller .9s ease-in-out 2 forwards;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
  background: #9356DC;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
  background: #FF79DA;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
  background: #99E2D0;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
  background: #9356DC;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
  background: #FF79DA;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
  background: #99E2D0;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
  background: #9356DC;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
  background: #FF79DA;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
    z-index: 100;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
    z-index: -5;
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
    z-index: 100;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
    z-index: -5;
  }
}

/*Background animation*/
.color-change {
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-animation: color-change 1s ease-in-out 1 forwards;
          animation: color-change 1s ease-in-out 1 forwards;
}

@-webkit-keyframes color-change {
  0% {
    background: white;
    opacity: 1;
    z-index: 101;
  }
  30% {
    background-color: white;
    opacity: .9;
  }
  65% {
    background-color: white;
    opacity: .9;
  }
  100% {
    background: white;
    opacity: 0;
    z-index: -5;
  }
}

@keyframes color-change {
  0% {
    background: white;
    opacity: 1;
    z-index: 101;
  }
  30% {
    background-color: white;
    opacity: .9;
  }
  65% {
    background-color: white;
    opacity: .9;
  }
  100% {
    background: white;
    opacity: 0;
    z-index: -5;
  }
}

/*Animation "OH MY FOOD"*/
.anim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: .5;
}

.anim h1 {
  font-family: 'Shrikhand';
  text-shadow: 4px 4px 0px #99E2D0;
  text-align: center;
}

@media all and (min-width: 1024px) {
  .anim h1 {
    font-size: 5em;
  }
}

@media all and (max-width: 1024px) {
  .anim h1 {
    font-size: 2.5em;
  }
}

.text-animation {
  -webkit-animation: text-animation 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) 1.5s alternate forwards;
          animation: text-animation 1.5s cubic-bezier(0.645, 0.045, 0.355, 1) 1.5s alternate forwards;
}

@-webkit-keyframes text-animation {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 1;
    z-index: 5;
    position: fixed;
    visibility: visible;
  }
  40% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.7;
    z-index: 5;
  }
  90% {
    opacity: 0.5;
    z-index: 5;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    transform: translateZ(0);
    opacity: 0;
    z-index: -1;
    position: fixed;
  }
}

@keyframes text-animation {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    transform: translateZ(300px);
    opacity: 1;
    z-index: 5;
    position: fixed;
    visibility: visible;
  }
  40% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.7;
    z-index: 5;
  }
  90% {
    opacity: 0.5;
    z-index: 5;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    transform: translateZ(0);
    opacity: 0;
    z-index: -1;
    position: fixed;
  }
}

/*Animation Promotion*/
.promotion-animation {
  -webkit-animation: promotion-animation 10s ease-in-out infinite both;
          animation: promotion-animation 10s ease-in-out infinite both;
}

@-webkit-keyframes promotion-animation {
  0% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  13.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  14% {
    opacity: 0;
    text-shadow: none;
  }
  14.9% {
    opacity: 0;
    text-shadow: none;
  }
  15% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  22.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  23% {
    opacity: 0;
    text-shadow: none;
  }
  24.9% {
    opacity: 0;
    text-shadow: none;
  }
  25% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  34.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  35% {
    opacity: 0;
    text-shadow: none;
  }
  40% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  42.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  43% {
    opacity: 0;
    text-shadow: none;
  }
  44.9% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  54.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 0;
    text-shadow: none;
  }
  69.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  69.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  70% {
    opacity: 0;
    text-shadow: none;
  }
  79.4% {
    opacity: 0;
    text-shadow: none;
  }
  79.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  89.8% {
    opacity: 0;
    text-shadow: none;
  }
  89.9% {
    opacity: 1;
    text-shadow: none;
  }
  100% {
    opacity: 0;
  }
}

@keyframes promotion-animation {
  0% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  13.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  14% {
    opacity: 0;
    text-shadow: none;
  }
  14.9% {
    opacity: 0;
    text-shadow: none;
  }
  15% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  22.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  23% {
    opacity: 0;
    text-shadow: none;
  }
  24.9% {
    opacity: 0;
    text-shadow: none;
  }
  25% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  34.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  35% {
    opacity: 0;
    text-shadow: none;
  }
  40% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  42.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  43% {
    opacity: 0;
    text-shadow: none;
  }
  44.9% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  54.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 0;
    text-shadow: none;
  }
  69.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  69.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  70% {
    opacity: 0;
    text-shadow: none;
  }
  79.4% {
    opacity: 0;
    text-shadow: none;
  }
  79.9% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  89.8% {
    opacity: 0;
    text-shadow: none;
  }
  89.9% {
    opacity: 1;
    text-shadow: none;
  }
  100% {
    opacity: 0;
  }
}

/*Transition logo heart*/
/*Transition logo heart*/
.heart {
  position: relative;
  cursor: pointer;
  left: -30px;
}

.heart:hover i:last-child {
  opacity: 0;
}

.heart i:first-child {
  font-size: 1.5em;
  background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
}

.heart i:last-child {
  font-size: 1.5em;
  position: absolute;
  color: white;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
}

@-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.1px);
            filter: blur(0.1px);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}

@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.1px);
            filter: blur(0.1px);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}

/*Animation add to checked*/
@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
}

@-webkit-keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}

@keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  10% {
    opacity: .2;
  }
  30% {
    opacity: .2;
  }
  65% {
    opacity: .6;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  10% {
    opacity: .2;
  }
  30% {
    opacity: .2;
  }
  65% {
    opacity: .6;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-top-menu {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-top-menu {
  0% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
}

/*Modal RC Styles*/
.modal-rc {
  z-index: 100;
  position: fixed;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 15px;
  -webkit-box-shadow: 2px 1px 16px 3px #62825d;
          box-shadow: 2px 1px 16px 3px #62825d;
  min-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.modal-rc-close-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 26px;
  margin-bottom: 15px;
  cursor: pointer;
}

.modal-rc-title {
  font-size: 18px;
}

.modal-rc-btn {
  padding: 12px;
  border-radius: 15px;
  background-color: white;
  color: black;
  min-width: 25%;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
  font-size: 16px;
}

.modal-rc-btn:hover {
  background-color: #060505;
  color: white;
  -webkit-box-shadow: 0px 0px 8px 2px #ffffff71;
          box-shadow: 0px 0px 8px 2px #ffffff71;
}

.modal-rc-btn:active {
  background-color: #060505;
  color: white;
  -webkit-box-shadow: 0px 0px 1px 2px #ffffffc8;
          box-shadow: 0px 0px 1px 2px #ffffffc8;
}

.hidden {
  display: none;
}

/*-------------------------*/
/*# sourceMappingURL=main.css.map */