
/*__Base*/

@font-face{
    font-family: "Shrikhand";
    src: url(../polices/Shrikhand/Shrikhand-Regular.ttf);
}
@font-face{
    font-family: "Roboto-Thin";
    src: url(../polices/Roboto/Roboto-Thin.ttf);
}
@font-face{
    font-family: "Roboto-Bold";
    src: url("../polices/Roboto/Roboto-Bold.ttf");
}
@font-face{
    font-family: "Roboto";
    src: url("../polices/Roboto/Roboto-Regular.ttf");
}

*{
    font-family: 'Roboto-Thin', 'Arial', 'Helvetica', 'sans-serif';
}

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$linear-gradient: linear-gradient(to bottom right, $secondary-color, $primary-color);
$linear-gradient-transition: linear-gradient(to top left, $secondary-color, rgba(228, 94, 217, 0.938));
$linear-gradient-transition-dark: linear-gradient(to top left, $secondary-color, #462741);
body{
    margin: 0;

}
h4, h5, h6{
    font-family: 'Roboto';
}
h2, h3{
    font-size: 1.5em;
    font-family: 'Roboto-Bold';
}
a{
    text-decoration: none;
    color: black
}

/*PICTURES*/
.pic1{
    background-image: url(../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.pic2{
    background-image: url(../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}
.pic3{
    background-image: url(../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.pic4{
    background-image: url(../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

/*Components*/
.container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

        &__accueil{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            background-color: #F6F6F6;
            p{
                font-weight: bold;
            }
        }
        &__explore{
            padding-bottom: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__restaurants{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
        }
        
}


.box{
    background-color: #F6F6F6;
    border: hidden;
    border-radius: 12px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.2);
    width: 85%;
    margin: 10px 0 10px 0;
    
    
    &__position{
        background-color: #e7e5e5;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
    &__explications{
        display: flex;
        align-items: center;
            &:hover{
                background-color: rgba($primary-color, $alpha: .2);
            }
        :only-child{
            margin: 10px 5px 10px 5px;
            padding: 10px;
        }
        .chiffre{
            background-color: $primary-color;
            border: hidden;
            border-radius: 18px;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: -10px;
            color: white;
        }
       h4{
           font-size: 1em;
       }
    }
    &__restaurants{
        background-color: white;
    
            .box__picture{
                overflow: hidden;
                background-position: center;
                background-size: cover;
                width: 100%;
                height: 150px;
                border-radius: 12px 12px 0px 0;
            }

    }
    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 30px 0 30px;
        line-height: 50%;
        h4, p{
            text-align: left;
            font-size: 1.4em;
        }
        p{
            font-family: Roboto;
            font-size: 1.2em;
        }
        i{
            font-size: 1.7em;
        }
        i:active{
            color: $primary-color;
            fill: $linear-gradient;

        }
       /*Grossir balise <i> Voir avec Fabio*/
       
        
    }
}


.btn{
    color: white;
    border: hidden;
    border-radius: 25px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.5);
    background: $linear-gradient;
    transition: background-color opacity 1s ease-in-out;
    padding: 20px 25px 20px 25px;
    margin-top: 10px;
    font-family: 'Roboto';

        &:hover{
            box-shadow: 0 0 9px 0 rgba(0,0,0,.7);
        }
        &:active{

            background: $linear-gradient-transition;
            box-shadow: 0 0 11px 0 rgba(0,0,0,.7);
        }
    }



.position{
    display: flex;
    flex-direction: row;
    align-items: center;
    p{
        margin-left: 20px;
        font-family: 'Roboto-Bold';
    }
}
.title{
    display: flex;
    align-self: start;
    margin-left: 100px;
 }
 @media all and (max-width: 767px){
     .title{
         margin-left: 50px;
     }
 }

 /*Balises Sémantiques*/
 header{
    display: flex;
    justify-content: center;
    border-bottom: solid rgba($color: #dad8d8, $alpha: 1.5);
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;

        
}
header img{
    width: 250px;
    margin: 10px;
}
footer{
    background-color: #353535;
    margin-top: 30px;
    padding: 10px 20px 20px 40px;
    h3{
        font-family: Shrikhand;
        color: white;
        font-size: 1.5em;
    }
    i, p{
        color: white;
        margin: 5px;
    }
    strong{
        font-family: Roboto;
    }
    div :only-child{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    @media all and (min-width:767px) {
        nav :only-child{
            display: flex;
            justify-content: center;
        }
    }
}
/* Media Queries */

@media all and (min-width:1024px){

    .container__restaurants{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 0 40px 0 40px;
    }
    .box__restaurants{
        width: 40%;
    }
}
/*Key frames*/

/*Animation "OH MY FOOD"*/
 .anim{
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 0;
     z-index: -1;
     width: 100%;
     height: 100%;
     visibility: hidden;
        h1{
            font-family: 'Shrikhand';
            text-shadow: 4px 4px 0px $tertiary-color;
            text-align: center;
            @media all and (min-width: 1024px) {
                font-size: 5em;
            }
            @media all and (max-width: 1024px) {
                font-size: 2.5em;
            }
        }
 }

 .text-animation {
	animation: text-animation 2s cubic-bezier(0.645, 0.045, 0.355, 1.000) 1.5s alternate forwards;
}

@keyframes text-animation {
    0% {
        letter-spacing: 1em;
        transform: translateZ(300px);
        transform: translateZ(300px);
        opacity: 1;
        z-index: 5;
        position: fixed;
        visibility: visible;
    }
    40% {
        opacity: 0.9;
    }
    80% {
        opacity: 0.7;
        z-index: 5;
    }
    90% {
        opacity: 0.5;
        z-index: 5;
    }
    100% {
        transform: translateZ(0);
        transform: translateZ(0);
        opacity: 0;
        z-index: -1;
        position: fixed;
    }
  }
  
/*Animation "Loading"*/
@keyframes loading-animation {
    0% {
      transform: scaleX(0.4);
      transform: scaleX(0.4);
      transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      opacity: 1;
        z-index: 2;
        position: fixed;
        visibility: visible;
    }
    100% {
      transform: scaleX(1);
      transform: scaleX(1);
      transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      opacity: 1;
        z-index: 2;
        position: fixed;
        visibility: visible;
    }
  }
  
.progress-bar{
     display: flex;
     justify-content: center;
     align-items: center;
     position: fixed;
     position: absolute;
     top: 300px;
     width: 50%;
     height: 5px;
     visibility: hidden;
     border-radius: 12px;
     opacity: 1;
     @media all and (max-width: 1024px) {
         top: 450px;
     }
     
        .loading-animation {
            animation: loading-animation 1s cubic-bezier(1.000, 0.000, 0.000, 1.000) forwards;
            background: $tertiary-color;
            border-radius: 12px;
        }
        
}

@keyframes loading-animation {
    0% {
      transform: scaleX(0.1);
      transform: scaleX(0.1);
      transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      opacity: 1;
        z-index: 2;
        position: fixed;
        visibility: visible;
    }
    30% {
        transform: scaleX(.4);
        transform: scaleX(.4);
        transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
          z-index: 2;
          position: fixed;
          visibility: visible;
      }
      65% {
        transform: scaleX(.5);
        transform: scaleX(.5);
        transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
          z-index: 2;
          position: fixed;
          visibility: visible;
      }
      99% {
        transform: scaleX(1);
        transform: scaleX(1);
        transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
          z-index: 2;
          position: fixed;
          visibility: visible;
      }

    100% {
      transform: scaleX(1);
      transform: scaleX(1);
      transform-origin: 0% 0%;
      transform-origin: 0% 0%;
      opacity: 0;
        z-index: 2;
        position: fixed;
        visibility: visible;
    }
    
  }
  